.bookViewer{
	margin: 5px auto 0 auto;
}

.bookViewer .page{
	background: #222222;
	box-shadow:
		0 0 0 1px rgba(255,255,255,0.18),
		4px 4px 20px rgba(0,0,0,0.8),
		-4px 4px 20px rgba(0,0,0,0.8);
	border-radius: 1px;
}

.secondaryToolbarButton.bookFlip::before {
	content: url(secondaryToolbarButton-bookFlip.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 1.1), screen and (min-resolution: 1.1dppx) {
	.secondaryToolbarButton.bookFlip::before {
		content: url(secondaryToolbarButton-bookFlip@2x.png);
	}
}
